<div class="footer">

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-details">
    <p>
    <p>Rudi Dutschkestr.26</p>
    <p>10304 Berlin</p>
    <p> Deutschland</p>
    <p>030 53665777</p>
  </div>

</div>
