<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/1600x900/?sports');">
  <div class="banner-content">
    <h1>SportX</h1>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADmSURBVGhD7c9BCsIwFIThggtP47U8nAdwI3i01IzMvIXY0pq0TWQ+CNg2eeYfzMzMzMzsb6SULuM4XltauBOvt1w+dM7rngc0AXfBnXi9dVqJKYqQbzH5GZ55PSovzEz8m7f8WB4hGISBnC23vE7cUgyzODNUjZAtYzCDs8ImEbJFDM5yRtg0QmrG4AzPhl0ipEYM9vJM2DVCSmKwh3vDIRHySwy+cU84NELWxOAdv4UmImRJDH7zXWgqQuZiuNqPkJmYfiJkIiZ0ESFTMV1FyGdMlxGimK4jhDF9R5iZmZmZWX3D8AJPubLj4RlCjgAAAABJRU5ErkJggg==">
  </div>
</div>
