// button
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #FF5910;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #E82D0C;
  text-decoration: none;
  color: white;
}

#button-position{
  text-align: center;
}

#go-btn-position{
  margin: 20px;
}
