.equipment-card {
  display: flex;
  margin: 50px;
}

.equipment-description {
  margin: 60px;
  width: 300px;
}

.btn-equipment-reserve {
  border-radius: 4px;
}

.choose_date {
  background-color: #FFFFFF;
  margin: auto;
  padding: 14px;
  text-align : center;
}
